@page "/Calificaciones"
@using INTITUTO1.Shared
@inject HttpClient Http

<PageTitle>Alumnos</PageTitle>

<th>ALUMNOS</th>

<div class="table-container" style="overflow: hidden; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
    <div style="border-top-left-radius: 12px; border-top-right-radius: 12px; background-color: #f2f2f2; padding: 10px;">
        <table class="table" style="border-collapse: collapse; width: 100%; border: 2px solid #ddd;">
            <thead>
                <tr style="border-bottom: 2px solid #ddd;">
                    <th style="border-right: 2px solid #ddd;">CUIL</th>
                    <th style="border-right: 2px solid #ddd;">Apellidos</th>
                    <th style="border-right: 2px solid #ddd;">Nombres</th>
                    <th style="border-right: 2px solid #ddd;">Correo</th>
                    <th style="border-right: 2px solid #ddd;">Cohorte</th>
                    <th style="border-right: 2px solid #ddd;">Estado</th>
                    <th style="border-right: 2px solid #ddd;">Carrera</th>
                 
                  
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in items)
                {
                    <tr>
                        <td style="border-right: 2px solid #ddd;">@item.CUIL</td>
                        <td style="border-right: 2px solid #ddd;">@item.Apellidos</td>
                        <td style="border-right: 2px solid #ddd;">@item.Nombres</td>
                        <td style="border-right: 2px solid #ddd;">@item.Correo</td>
                        <td style="border-right: 2px solid #ddd;">@item.Cohorte</td>
                        <td style="border-right: 2px solid #ddd;">@item.Estado</td>
                        <td style="border-right: 2px solid #ddd;">@item.Carrera</td>
                      
                        <td>
                            <div class="action-buttons m-1">

                                <a class="btn btn-primary" href="Notas"><i class="oi oi-book" aria-hidden="true"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@code {
    List<Item> items = new List<Item>();

    protected override void OnInitialized()
    {
        // Aquí puedes inicializar tu lista de elementos (items)
        items = new List<Item>
        {
            new Item { DNI = "12345678", CUIL = "20-12345678-9", Apellidos = "Gonzalez", Nombres = "Juan", Correo = "juan.gonzalez@example.com", Cohorte = 2021, Estado = "Activo", Carrera = "Desarrollo de Software", Legajo = "DS-2021-01", Tbase = "Bachiller en Economia y Administracion-I.P.E.M. N° 123 'BLANCA ETCEMENDY'-Plan de estudio: Decreto 141/96 Resol min N° 344/11 y N°668/11" }
            // Agrega más elementos si es necesario
        };
    }

    void ToggleTbase(Item item)
    {
        item.ShowTbase = !item.ShowTbase;
    }

    public class Item
    {
        public string DNI { get; set; }
        public string CUIL { get; set; }
        public string Apellidos { get; set; }
        public string Nombres { get; set; }
        public string Correo { get; set; }
        public int Cohorte { get; set; }
        public string Estado { get; set; }
        public string Carrera { get; set; }
        public string Legajo { get; set; }
        public string Tbase { get; set; }
        public bool ShowTbase { get; set; }
    }
}