@page "/Profesores"
@using INTITUTO1.Shared
@inject HttpClient Http

<PageTitle>Profesores</PageTitle>
<h3>Profesores</h3>
<button class="btn btn-success" onclick="cargarCarrera()">Cargar Profesor</button>


<div class="table-container" style="overflow: hidden; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
    <div style="border-top-left-radius: 12px; border-top-right-radius: 12px; background-color: #f2f2f2; padding: 10px;">
        <table class="table" style="border-collapse: collapse; width: 100%; border: 2px solid #ddd;">
            <thead>
                <tr style="border-bottom: 2px solid #ddd;">
                    <th style="border-right: 2px solid #ddd;">DNI</th>
                    <th style="border-right: 2px solid #ddd;">CUIL</th>
                    <th style="border-right: 2px solid #ddd;">Apellidos</th>
                    <th style="border-right: 2px solid #ddd;">Nombres</th>
                    <th style="border-right: 2px solid #ddd;">Correo</th>
                    <th style="border-right: 2px solid #ddd;">Estado</th>
                    <th style="border-right: 2px solid #ddd;">Materia</th>
                    <th style="border-right: 2px solid #ddd;">Legajo</th>
                  
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in items)
                {
                    <tr>
                        <td style="border-right: 2px solid #ddd;">@item.DNI</td>
                        <td style="border-right: 2px solid #ddd;">@item.CUIL</td>
                        <td style="border-right: 2px solid #ddd;">@item.Apellidos</td>
                        <td style="border-right: 2px solid #ddd;">@item.Nombres</td>
                        <td style="border-right: 2px solid #ddd;">@item.Correo</td>
                        <td style="border-right: 2px solid #ddd;">@item.Estado</td>
                        <td style="border-right: 2px solid #ddd;">@item.Materia</td>
                        <td style="border-right: 2px solid #ddd;">@item.Legajo</td>
                      
                        <td style="border: none; display: flex; justify-content: space-between;">
                            <div class="action-buttons">
                                <button class="btn btn-danger"><i class="oi oi-trash"></i></button>
                            </div>
                            <div class="action-buttons">
                                <button class="btn btn-primary"><i class="oi oi-pencil"></i></button>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@code {
    List<Item> items = new List<Item>();

    protected override void OnInitialized()
    {
        // Aquí puedes inicializar tu lista de elementos (items)
        items = new List<Item>
        {
            new Item { DNI = "12345678", CUIL = "20-12345678-9", Apellidos = "Lopez", Nombres = "Jose", Correo = "jose.lopez@example.com", Estado = "Titular", Materia = "Programacion 1", Legajo = "DS12", 
           }
            // Agrega más elementos si es necesario
        };
    }

 

    public class Item
    {
        public string DNI { get; set; }
        public string CUIL { get; set; }
        public string Apellidos { get; set; }
        public string Nombres { get; set; }
        public string Correo { get; set; }
        public string Estado { get; set; }
        public string Materia { get; set; }
        public string Legajo { get; set; }
        
    }
}
